*{
	font-family: 'Montserrat', 'Roboto', sans-serif;
}

body{
	background-color: #d8e2dc;
	width: 100%;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

/* nav */

li, a{
	font-size: 16px;
	text-decoration: none;
	color: #333333;
}

header{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px 10%;
	margin-bottom: -4rem;
}

.logo{
	cursor: default;
	margin-right: auto;
	font-family: Roboto;
	font-weight: 700;
	font-size: 32px;
}

.nav{
	list-style: none;
}

.nav li{
	display: inline-block;
	padding: 0 20px;
}

.nav li a{
	transition: all 0.3s ease 0s;
	font-size: 17px;
}

.nav li a:hover{
	color: #5296a5;
}

#cart-icon{
	width:35px;
	display: inline-block;
	margin: 0 0 0 20px;
}

#cart-icon:hover{
	background: #3c6e71;
	border-radius: 50%;
}

#cart-total{
	display: block;
	text-align: center;
	color:#f1f1f1;
	vertical-align: center;
	background-color: #d62828;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
	justify-content: center;
}

.tb{
	position: absolute;
	top: auto;
	right: auto;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.tb .bar{
	height: 3px;
	width: 100%;
	background: #3c6e71;
	border-radius: 10px;
}

.sc{
	display: none;
}

@media (max-width: 1600px) {

	nav{
		justify-content: space-between;
		height: 100px;
		padding: 0 30px;
		margin-bottom: auto;
	}


	.tb{
		display: flex;
	}

	.nav{
		display: none;
		position: fixed;
		justify-content: center;
		text-align: center;
		top: 8rem;
		left: auto;
		border-bottom: 4px solid #15616d;
		width: 85%;
		background: #fffcf2;
		border-radius: 10px;
		z-index: 1;
	}

	.nav li{
		width: 100%;
	}

	nav .nav li a{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 30px;
		color: #534b52;
		text-align: center;
	}

	.ci, #cart-total{
		display: none;
	}

	header{
		flex-direction: column;
		align-items: flex-start;
	}

	nav ul{
		width: 100%;
		flex-direction: column;
	}

	nav li{
		text-align: left;
	}

	nav li a{
		padding: 0.5rem 1rem;
	}

	nav .tbi{
		cursor: pointer;
		float: right;
		padding: 10px 6px;
		position: absolute;
		user-select: none;
		z-index: 1;
	}

	nav .tbi .bar{
		background: #227c9d;
		display: block;
		height: 2px;
		position: relative;
		transition: background 0.2s ease-out;
		width: 25px;
	}

	nav .tbi .bar:before,
	nav .tbi .bar:after{
		background: #227c9d;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		transition: all ease-out 0.2s;
		width: 100%;
	}

	nav .tbi .bar:before{
		top: 8px;
	}

	nav .tbi .bar:after{
		top: -8px;
	}

	nav .tb:checked ~ .tbi .bar{
		background: transparent;
	}

	nav .tb:checked ~ .tbi .bar:before{
		transform: rotate(-45deg);
		top: 0;
	}

	nav .tb:checked ~ .tbi .bar:after{
		transform: rotate(45deg);
		top: 0;
	}

	nav .tb{
		display: none;
	}

	.sc{
		display: block;
	}

	nav .tb:checked ~ .nav{
		display: block;
	}
}
/* nav end*/

.product-name {
	text-transform: uppercase;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #edece4;
	border-radius: 5px;
}

.product-price{
	font-weight: 300;
}

.box-element{
	background-color: #e5e5e5;
	border-radius: 10px;
	padding: 10px;
	margin-top: -10px;
}

.thumbnail{
	margin-top: 20px;
	width: 100%;
	height: 200px;
	object-fit: contain;
	background: #fff;
	border-radius: 5px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.row{
	position: relative;
	top: 5rem;
}

.btn{
	border-radius: 20px;
	border-width: 2px;
}

.row-image{
	width: 100px;
	margin-left: 15px;
	border-radius: 10px;
}

.form-title{
	margin-left: 10px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
	line-height: 35px;
	color: #fff;
}

.form-control{
	border-radius: 10px;
	line-height: 30px;
	outline: none;
}

.form-control:focus{
    border-color: #cccccc;
    outline: none;
    box-shadow: none;
}

.ck:focus{
	background-color: #ffffff;
}

.cart-row{
	display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
	text-transform: uppercase;
	font-size: 18px;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 15px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

#form-button{
	margin-left: 5px;
}

.hidden{
	display: none!important;
}

.pay_container{
	margin-left: 15%;
	margin-bottom: 15px;
}

.payment_button{
	background-color: #fff;
	height: 55px;
	width: 80px;
	object-fit: fill;
	border: 3px solid #cfdbd5;
	border-radius: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.payment_button:hover{
	border: 3px solid #f29e4c;
}

.option-text{
	margin: 15px 0 0 10px;
}

.checkinfo{
	margin-top: 15px;
	font-size: 18px;
	margin-left: -2rem;
}

.totalinfo{
	margin-top: 2rem;
	margin-left: 15px;
	text-align: left;
	text-transform: uppercase;
	font-weight: inherit;
	font-size: 20px;
}

.summary{
	margin-left: 15px;
}

.add-btn{
	position: relative;
	top: -6px;
	left: 2px;
}

.text-t{
	margin-top: 30px;
}

/* login */

.login-form{
    width: 375px;
    background: #bdbbb6;
    height: 600px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.login-form h1{
    text-align: center;
    margin-bottom: 60px;
	color: #333333;
}

.txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

.txtb input{
    font-size: 15px;
    color: #333333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.logbtn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background-image: linear-gradient(120deg,#847577,#a6a2a2,#847577);
    background-size: 200%;
    font-size: 18px;
    color: #f5efda;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
	border-radius: 10px;
}


.logbtn:hover{
    background-position: right;
}

.buttom-text{
    margin-top: 60px;
    text-align: center;
    font-size: 15px;
	color: #f1f1f1;
}

.form-control{
    margin-left: -7px;
}

.form-control:focus{
    border-color: #cccccc;
    outline: none;
    box-shadow: none;
    background: none;
    margin-left: -7px;
	color: #333333;
}

.label{
    color: #294c60;
    font-size: 15px;
    margin-left: -7px;
	margin-top: -7px;
}

#messages\.error{
	font-size: 15px;
	text-align: center;
	color: #333333;
	text-decoration: none;
	background-color: #ffb3ae;
	border-radius: 10px;
	justify-content: center;
}

/* login end */

/* signup */

.singup-form{
    width: 375px;
    background: #bdbbb6;
    height: 680px;
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.singup-form h1{
    text-align: center;
    margin-bottom: 50px;
	color: #333333;
}

.signbtn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background-image: linear-gradient(120deg,#847577,#a6a2a2,#847577);
    background-size: 200%;
    font-size: 18px;
    color: #f2f5fa;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
	border-radius: 15px;
}

.signbtn:hover{
    background-position: right;
}

.s-buttom-text{
	margin-top: 5px;
    text-align: center;
    font-size: 15px;
	color: #333333;
}

#messages\.error1{
	font-size: 18px;
	color: #f1f1f1;
	text-decoration: none;
	background-color: #cc444b;
	border-radius: 5px;
	position: relative;
	left: 2.3rem;
	top: 8px;
}

/* end signup */


/* payout */
.payout{
	width: 60%;
	height: 30%;
}

.mianimg{
	position: relative;
	top: 7rem;
	left: -8rem;
	width: 600px;
	border-radius: 20px;
}

.pcontain{
	position: relative;
	top: -22rem;
	left: 35rem;
	font-family: Roboto;
	font-weight: 800;
	font-size: 68px;
	text-transform: uppercase;
	white-space: nowrap;
	color: #f1f1f1;
}

.redir{
	position: relative;
	top: -20rem;
	left: 35rem;
	width: 220px;
	height: 75px;
	border: none;
	white-space: nowrap;
	background-color: #ffc24b;
	border-radius: 20px;
	text-align: center;
	padding: 24px 5px;
	text-decoration: none;
	color: #333333;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}

.redir:hover{
	background: #e09f3e;
	color: #fff3b0;
}
/* end payout */