{% extends 'store/main.html' %}
{% load static %}
{% block title %}
    <title>Non-processing :)</title>
{% endblock %}
{% block content %}
    <style>
    body{
        background-color: #333333;
    }

    .logo{
        color: #f1f1f1;
    }
    </style>
<div class="payout">
    <div class="payoutimg">
        <img class="mianimg" src="{% static "images/payout.gif" %}" alt="payout">
    </div>
    <div class="payout-main">
        <p class="pcontain">
            Sorry, not for sale.<br>
            Because we are non-open.
        </p>
    </div>
    <a class="redir" href="/" type="button">Back to Store</a>
</div>
{% endblock %}